<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="formText">
  <div *ngIf="type === 'text'">
    <ion-input
      type="text"
      formControlName="title"
      placeholder="Title"
      *ngIf="opened"
      ngModel
    ></ion-input>
    <textarea
      name="description"
      formControlName="description"
      id="description"
      placeholder="Create a note..."
      rows="1"
      (focus)="onBodyFocus()"
    ></textarea>
    <br>
    <ion-button type="submit" value="Close" *ngIf="opened">Cerrar</ion-button>
  </div>
</form>
