<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        (click)="abrirMenu($event)"
        slot="icon-only"
        name="menu"
      ></ion-icon>
    </ion-buttons>
    <ion-title> Cliente </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-googlemaps [positionOrigen]="positionOrigen"></app-googlemaps>
  <div>
    <ion-button
      (click)="addPositionOrigin()"
      expand="block"
      color="primary"
      fill="outline"
    >
      <ion-icon slot="start" name="location"></ion-icon>
      Seleccionar Ubicación de Origen
    </ion-button>
  </div>
</ion-content>
