<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        (click)="abrirMenu($event)"
        slot="icon-only"
        name="menu"
      ></ion-icon>
    </ion-buttons>
    <ion-title> Cliente </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-googlemaps
    [positionOrigen]="positionOrigen"
    [positionDestino]="positionDestino"
  ></app-googlemaps>

  <ion-button
    (click)="addPositionOrigin()"
    expand="block"
    color="primary"
    fill="outline"
  >
    <ion-icon slot="start" name="location"></ion-icon>
    Seleccionar Ubicación de Origen
  </ion-button>

  <ion-button (click)="addPositionDestino()" expand="block" fill="outline">
    <ion-icon slot="start" name="location"></ion-icon>
    Seleccionar Ubicación de Destino
  </ion-button>

  <ion-card>
    <ion-card-header> Precio: </ion-card-header>
    <ion-card-content>
      <ion-label class="precio">{{precio}}</ion-label>
    </ion-card-content>
  </ion-card>

  <button (click)="pedirEntrega()" class="pedir_entrega">Pedir Entrega</button>
</ion-content>
