<div *ngIf="note" (click)="mostrarPopEditNote()" [ngStyle]="{'background-color': note.color}">
  <h1 *ngIf="note.title" [ngStyle]="{'background-color': note.color}">{{ note.id }} - {{ note.title }}</h1>

  <ion-item *ngIf="note.type === 'text'">
    <ion-label>
      {{ note.description }}
    </ion-label>
  </ion-item>

  <ul *ngIf="note.type === 'todo'">
    <li
      *ngFor="let todo of todos; let indice = index"
      [class.tachado]="todo.checked === true"
    >
      <input
        [(ngModel)]="todo.checked"
        type="checkbox"
        (click)="onChecked(todo)"
        [value]="todo.content"
      />
      {{ todo.content }}
      <!-- <a  (click)="eliminarTarea(indice)" class="enlace-eliminar">&times;</a> -->
    </li>
  </ul>
</div>
