<form
  *ngIf="type === 'text'"
  #f="ngForm"
  (ngSubmit)="onSubmit()"
  [formGroup]="formText"
>
  <div>
    <br />
    <ion-item *ngIf="opened">
      <ion-input
        type="text"
        formControlName="title"
        placeholder="Title"
        *ngIf="opened"
        ngModel
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <textarea
        name="description"
        formControlName="description"
        id="description"
        placeholder="Create a note..."
        rows="1"
        (focus)="onBodyFocus()"
      ></textarea>
    </ion-item>

    <ion-item *ngIf="opened">
      <ion-select
        *ngIf="opened"
        placeholder="Select Color"
        interface="popover"
        (ionChange)="setColorOption($event)"
      >
        <ion-select-option value="#e06668">Rojo</ion-select-option>
        <ion-select-option value="#fdfd96">Amarillo</ion-select-option>
        <ion-select-option value="#99f5bc">Verde</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="opened">
      <ion-checkbox (click)="onTodo()"></ion-checkbox>
      <ion-label> Nota Todo</ion-label>
    </ion-item>
  </div>
  <ion-button type="submit" value="Close" *ngIf="opened">Cerrar</ion-button>
</form>

<div *ngIf="type === 'todo'">
  <ion-item *ngIf="opened">
    <ion-input
      type="text"
      placeholder="Title"
      *ngIf="opened"
      [(ngModel)]="titleTodo"
    >
    </ion-input>
  </ion-item>

  <ion-item *ngIf="opened">
    <input
      placeholder="Ingresa la tarea"
      type="text"
      [(ngModel)]="contentTodo"
      id="tarea"
    />
    <button (click)="guardarTarea()" [disabled]="!contentTodo">Guardar Tarea</button>
  </ion-item>

  <ion-item *ngIf="opened">
    <ul>
      <li
        *ngFor="let todo of todosArray; let indice = index"
        [class.tachado]="todo.checked"
      >
        <input [(ngModel)]="todo.checked" type="checkbox" />
        {{ todo.content }}
        <a (click)="eliminarTarea(indice)" style="color: red;">&times;</a>
      </li>
    </ul>
  </ion-item>

  <ion-item *ngIf="opened">
    <ion-select
      placeholder="Select Color"
      interface="popover"
      (ionChange)="setColorOption($event)"
    >
      <ion-select-option value="#e06668">Rojo</ion-select-option>
      <ion-select-option value="#fdfd96">Amarillo</ion-select-option>
      <ion-select-option value="#99f5bc">Verde</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="opened">
    <ion-checkbox (click)="onText()"></ion-checkbox>
    <ion-label> Nota Texto</ion-label>
  </ion-item>

  <ion-button *ngIf="opened" (click)="guardarNoteTodo()">cerrar</ion-button>
</div>
