<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="formText">
  <div *ngIf="type === 'text'">
    <br />
    <ion-input
      type="text"
      formControlName="title"
      placeholder="Title"
      *ngIf="opened"
      ngModel
    >
    </ion-input>
    <textarea
      name="description"
      formControlName="description"
      id="description"
      placeholder="Create a note..."
      rows="1"
      (focus)="onBodyFocus()"
    ></textarea>
    <br>
    <ion-select *ngIf="opened" placeholder="Select Color" interface="popover" (ionChange)="setColorOption($event)">
      <ion-select-option value="#e06668">Rojo</ion-select-option>
      <ion-select-option value="#fdfd96">Amarillo</ion-select-option>
      <ion-select-option value="#99f5bc">Verde</ion-select-option>
    </ion-select>
    <br />
    <ion-button type="submit" value="Close" *ngIf="opened">Cerrar</ion-button>
    <ion-item *ngIf="opened">
      <ion-checkbox (click)="onTodo()"></ion-checkbox>
      <ion-label> Nota Todo</ion-label>
    </ion-item>
  </div>

  <div *ngIf="type === 'todo'">
    <ion-item *ngIf="opened">
      
      <ion-checkbox (click)="onText()"></ion-checkbox>
      <ion-label> Nota Texto</ion-label>
    </ion-item>
  </div>
</form>
