<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        (click)="abrirMenu($event)"
        slot="icon-only"
        name="menu"
      ></ion-icon>
    </ion-buttons>
    <ion-title> Seguimiento Entrega </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-entrega-seguimiento
    [positionActual]="positionActual"
    [positionOrigen]="positionOrigen"
    [positionDestino]="positionDestino"
  ></app-entrega-seguimiento>

  <div>
    <ion-label>
      Estado: {{ estado }}
    </ion-label>
  </div>
</ion-content>
