<ion-header>
  <ion-toolbar>
    <ion-title>Espera de Chofer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <label>Espera a que un chofer espere su pedido, si en 2 minutos nose acepta tu pedido, prueba mas tarde...</label>
    <div class="coming-soon">
        <div class="time-countdown">
            <ul>
                <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
            </ul>
        </div>
    </div>
</section>
</ion-content>
