<div>
  <ion-item>
    <input type="text" [(ngModel)]="title" />
  </ion-item>
  <ion-item>
    <input type="text" [(ngModel)]="description" />
  </ion-item>

  <ion-item>
    <ion-select
      placeholder="Select Color"
      interface="popover"
      (ionChange)="setColorOption($event)"
    >
      <ion-select-option value="#e06668">Rojo</ion-select-option>
      <ion-select-option value="#fdfd96">Amarillo</ion-select-option>
      <ion-select-option value="#99f5bc">Verde</ion-select-option>
    </ion-select>
  </ion-item>
</div>
<ion-button type="button" (click)="onSubmit()">Actualizar</ion-button>
