<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Notes </ion-title>

    <ion-button slot="end" (click)="mostrarPop()">
      <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

<ion-toolbar>
    <ion-searchbar (ionChange)="onSearch($event)"></ion-searchbar>

    <app-note-create></app-note-create>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="notes.length">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let note of notes | filter: textoBuscar">
      <ion-item>
        <app-note-card [note]="note"></app-note-card>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="delete(note.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
